.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-header h1 {
  font-size: 26px;
  margin-top: 5px;
}

.container {
  display: inline;
}

.search-bar {
  padding: 20px;
}
.search-bar input {
  width: 40vw;
  padding: 6px;
  font-size: 18px;
  background: #eee;
}

.search-bar .search {
  width: 10vw;
  padding: 6px;
  margin-left: 10px;
  font-size: 18px;
  background: #eee;
  border-radius: 5px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar .search:focus {
  outline: none;
}

.search-bar .search:hover {
  background: lemonchiffon;
}

.video-detail {
  float: left;
  width: 63vw;
  padding: 0 3.5vw;
}

.video-list {
  float: left;
  display: grid;
  grid-template-columns: 1fr;
  width: 28vw;
  margin: 0;
}

.video iframe {
  width:100%;
  height: 40vw;
}

.video-list dl {
  list-style: none;
}

.video-list li {
  margin-bottom: 10px;
  width: 26vw;
  background: gray;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
